<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <h1><%= videodata.categoryName %></h1>
      <% videodata.categories.forEach(function(item){%>
        <li>
          <a href="
          /<%=item.categoryName%>?<%=item.categoryID%>
         ">
                <%= item.categoryName %>
          </a>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
